@font-face {
  font-family: '엘리스코딩-볼드'; // 👈 굵은 폰트에 붙여줄 이름
  src: url('../fonts/EliceDigitalCodingverH_Bold.ttf') format('truetype');
  font-weight: 800; // 이 폰트는 굵은 폰트라고 지정
}

@font-face {
  font-family: '엘리스코딩-레귤러'; // 👈 일반 폰트에 붙여줄 이름
  src: url('../fonts/EliceDigitalCodingverH_Regular.ttf') format('truetype');
  font-weight: 400; // 이 폰트는 일반 굵기(400)라고 지정
}

// Typography
body {
  font-size: 1.125rem; // 기본 본문 폰트 크기를 살짝 키웁니다 (18px)
  line-height: 1.7;    // 줄 간격을 넓혀 가독성을 높입니다.
}

// h1: post-title (메인 제목)
.post-title {
  font-size: 5rem;     // 폰트 크기를 매우 크게
  font-weight: 800;    // 가장 굵은 굵기
  margin-bottom: 0.5rem;
  line-height: 1.1;
}

// p: post-description (메인 제목 아래 한 줄 소개)
.post-description {
  font-size: 1.25rem;
  color: #ccc;
}

// h2: Section Titles (Experience, Projects...)
h2 {
  font-size: 3rem;     // 섹션 제목도 매우 크게
  font-weight: 800;
}