// 커스텀 폰트 등록
@font-face {
  font-family: '엘리스코딩-볼드';
  src: url('../fonts/EliceDigitalCodingverH_Bold.ttf') format('truetype');
  font-weight: 800;
}

@font-face {
  font-family: '엘리스코딩-레귤러';
  src: url('../fonts/EliceDigitalCodingverH_Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: '북끄고딕-볼드';
  src: url('../fonts/BookkGothic_Bold.ttf') format('truetype');
  font-weight: 700;
}
@font-face {
  font-family: '북끄고딕-라이트';
  src: url('../fonts/BookkGothic_Light.ttf') format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: '북끄명조-볼드';
  src: url('../fonts/BookkMyungjo_Bold.ttf') format('truetype');
  font-weight: 700;
}
@font-face {
  font-family: '북끄명조-라이트';
  src: url('../fonts/BookkMyungjo_Light.ttf') format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: '구름산스-볼드';
  src: url('../fonts/goorm-sans-bold.ttf') format('truetype');
  font-weight: 700;
}
@font-face {
  font-family: '구름산스-미디엄';
  src: url('../fonts/goorm-sans-medium.ttf') format('truetype');
  font-weight: 500;
}
@font-face {
  font-family: '구름산스-레귤러';
  src: url('../fonts/goorm-sans-regular.ttf') format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: '구름코딩-레귤러';
  src: url('../fonts/goorm_Sans_Code_400.ttf') format('truetype');
  font-weight: 400;
}

// 기본  스타일
body {
  font-family: $body-font;
  font-size: 1.125rem;
  line-height: 1.7;
  background-color: $background-color;
  color: $text-color;
}

// 제목 태그
h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font;
  font-weight: 800;
  line-height: 1.2;
}

// 메인 타이틀 (h1)
.post-title {
  font-size: 3.5rem;
  margin-bottom: 0.5rem;
}

// 메인 한 줄 소개 (p)
.post-description {
  font-size: 1.25rem;
  color: $secondary-text-color;
  margin-bottom: 3rem;
}

// 섹션 제목 (h2)
h2 {
  font-size: 3rem;
  margin-top: 0;
  margin-bottom: 2rem;
}

// 서브 제목 (h3)
h3 {
  font-size: 1.25rem;
  margin-top: 0;
  margin-bottom: 1rem;
}

// 링크
a {
  color: $theme-color;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}