// Colors
$theme-color: #7747FF;

// Body colors
$background-color: #121212; // 👈 거의 검은색에 가까운 배경색
$text-color: #E0E0E0;       // 👈 눈이 편안한 흰색 계열 글자색

// Fonts
$body-font: 'Inter', sans-serif;    // 👈 본문용 폰트
$heading-font: 'Syne', sans-serif;  // 👈 제목용 폰트