// Colors
$theme-color: #7747FF;
// Colors (라이트 모드 기준)
$background-color: #FFFFFF;
$text-color: #111827;
$secondary-text-color: #6B7280;
$border-color: #E5E7EB;
// Body colors
$background-color: #121212; // 검은색에 가까운 배경색
$text-color: #E0E0E0;       // 흰색 계열 글자색

// Fonts
$body-font: '구름산스-레귤러', sans-serif;   // 본문 폰트
$heading-font: '구름코딩-레귤러', sans-serif; // 제목 폰트