<!DOCTYPE html>
<html>
  <head>
    <title>{{ site.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" />
    <script src="https://kit.fontawesome.com/YOUR_OWN_KIT_ID.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <header class="header">
      <div class="container header-container">
        <a href="#about" class="site-title">{{ site.title }}</a>
        <nav>
          <ul>
            <li><a href="#about">About</a></li>
            <li><a href="#career">Career</a></li>
            <li><a href="#education">Education</a></li>
            <li><a href="#projects">Projects</a></li>
            <li><a href="#skills">Skills</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <div class="container">
      {{ content }}
    </div>

  </body>
</html>