<!DOCTYPE html>
<html>
  <head>
    <title>{{ site.title }}</title>

    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
  </head>
  <body>
    <header class="header">
      <div class="container header-container">
        <a href="#about" class="site-title">{{ site.title }}</a>
        <nav>
          <ul>
            <li><a href="#about">About</a></li>
            <li><a href="#experience">Experience</a></li>
            <li><a href="#projects">Projects</a></li>
            <li><a href="#skills">Skills</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <div class="container">
      {{ content }}
    </div>

  </body>
</html>